<footer class="flex flex-col bg-background border-t-2 border-t-accent md:px-28 px-4 text-white">
    <div class="flex flex-col md:flex-row items-center md:items-start justify-between text-ellipsis my-4 ">
        <%-include ('logo.ejs')%>

            <div class="flex flex-col items-center text-xl font-semibold"> <!--content 1-->
                <a href="#test" class="hover:text-accent transition-colors duration-500">Acasa</a>
                <a href="#test" class="hover:text-accent transition-colors duration-500">Blog</a>
                <a href="#test" class="hover:text-accent transition-colors duration-500">Ajuns de la mare</a>
            </div>
            <div class="flex flex-col items-center text-xl font-semibold"> <!--content 1-->
                <a href="#test" class="hover:text-accent transition-colors duration-500">Acasa</a>
                <a href="#test" class="hover:text-accent transition-colors duration-500">Blog</a>
                <a href="#test" class="hover:text-accent transition-colors duration-500">Plecat</a>
            </div>
            <div class="flex flex-col items-center text-xl font-semibold"> <!--content 1-->
                <a href="#test" class="hover:text-accent transition-colors duration-500">Acasa</a>
                <a href="#test" class="hover:text-accent transition-colors duration-500">Blog</a>
                <a href="#test" class="hover:text-accent transition-colors duration-500">Acasa</a>
            </div>
    </div>
    <div class="text-center">
        Not affiliated with any types of niggers nor with the goverment of Nigeria
    </div>
</footer>