<div class="font-headings pointer-events-none flex select-none items-center flex-wrap md:text-xl">
      <h1 class="from-primary to-accent bg-gradient-to-r bg-clip-text font-bold text-transparent">
        Concurs
      </h1>
      <p class="text-text">Severin</p>
    </div>