<nav class="flex items-center justify-between py-4 px-4 md:px-8 lg:px-16 text-text text-lg bg-background shadow-md sm:border-none border-b border-b-subtext border-opacity-20">
    <%-include('logo.ejs') %>
    <!-- Links -->
    <links class="hidden md:flex items-center space-x-4 font-semibold ">
        <a href="group">
            <p class="hover:text-accent transition-colors duration-500">Home</p>
        </a>
        <a href="hover-anim group">
            <p class="hover:text-accent transition-colors duration-500">About</p>
        </a>
        <a href="">
            <p class="hover:text-accent transition-colors duration-500">Shop</p>
        </a>
        <a href="">
            <p class="hover:text-accent transition-colors duration-500">Contact</p>
        </a>
    </links>
    <!-- Buttons -->
    <buttons class="flex space-x-4">
        <button class="hover:text-accent transition-colors duration-500 hidden md:block px-4 py-1 font-bold ">Log in</button>
        <button class="px-4 py-1 border button-anim hidden md:block font-bold">Sign Up</button>
        <button class="block md:hidden" id="menuBtn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </buttons>
</nav>

<topnav
    class="hidden sm:flex justify-center items-center text-[14px] text-text py-1 px-4 bg-secondary shadow-md">
    <p class="text-center">
        Our latest IT project aims to revolutionize supply chain management through the implementation of a cutting-edge
        blockchain solution
    </p>
</topnav>

<!-- Nav menu for smaller displays -->
<mobilenav class=" hidden flex-col justify-between text-lg text-text fixed inset-0 bg-background z-50" id="mobileNav">
    <div class="fixed top-0 left-0 w-full h-full z-[-1]" id="particles-js"></div>
    <div class="flex flex-col">
        <div class="flex justify-between items-center py-4 px-4 md:px-8 lg:px-16 sm:border-none border-b border-b-subtext border-opacity-20 bg-background">
            <%-include('logo.ejs') %>
                <button class="" id="closeBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>

                </button>
        </div>
        <topnav
            class="hidden sm:flex justify-center items-center text-[14px] text-background text-opacity-80 py-1 px-4 bg-accent border-b border-b-subtext border-opacity-20 shadow-md">
            <p class="text-center">
                Our latest IT project aims to revolutionize supply chain management through the implementation of a cutting-edge
                blockchain solution
            </p>
        </topnav>
    </div>
    <links class="flex justify-center items-center text-2xl space-x-6"> <!-- Modified: Added 'items-center' -->
        <div class="flex flex-col items-center space-y-4 select-none p-2">
            <a href="group">
                <p class="hover-anim">Home</p>
            </a>
            <a href="hover-anim group">
                <p>About</p>
            </a>
            <a href="">
                <p>Shop</p>
            </a>
            <a href="">
                <p class="hover-anim">Contact</p>
            </a>
        </div>
        <div class="h-full border-r border-r-subtext border-opacity-40">

        </div>
        <div class="flex flex-col items-center space-y-4 p-2 select-none">
            <button class="hover:font-bold transition-all duration-300">Log in</button>
            <button class="hover-anim px-4 py-1 border button-anim">Sign Up</button>
        </div>
    </links>
    <div class="flex items-center justify-between">
        <!-- <button class="hover:font-bold transition-all duration-300 w-full">Log in</button>
        <button class="w-full py-1 border button-anim">Sign Up</button> -->
    </div>
</mobilenav>