<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='./dist/tw_output.css'>
</head>

<body class="bg-background font-paragraphs backdrop-blur-2">
    <%-include ('components/navbar.ejs')%>

    <div class="w-full h-1/2">
        <canvas class="w-full h-1/2" id="particles">
            Your browser does not support the canvas element.
        </canvas>
        
    </div>

    <div class="w-full bg-primary h-screen">    </div>

    
    
    <%-include ('components/footer.ejs')%>
</body>

<script src="./dist/packages/particles.min.js"></script>
<script src="./dist/components/acasa/main.js"></script>

</html>