<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='./dist/tw_output.css'>
    <link rel="stylesheet" href='./dist/packages/toastr/main.css'>
</head>

<body class="bg-background font-paragraphs backdrop-blur-2">
   <%-include('./components/navbar.ejs') %>
</body>

</html>